@import "material-icons/iconfont/material-icons.css";

.gallery-container {
    .view-btn-container {
        width: 100%;
        padding: 70px;
        .view-btn {
            color: white;
            height: 55px;
            width: 75px;
            border: none;
            font-size: 1.1em;
            letter-spacing: 0.8px;
            cursor: pointer;

            .material-icons-outlined {
                font-size: 35px;
                margin-top: 7px;
            }
        }

        .vertical {
            border-radius: 7px 0 0 7px;
        }

        .horizontal {
            border-radius: 0 7px 7px 0;
        }

        .selected {
            background-color: #d3d9e6;
        }

        .unselected {
            background-color: #f1f4f7;
        }
    }

    .images {
        padding: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;

        .image-container {
            position: relative;
            border-radius: 15px;
            width: 20%;
        }

        .image-container:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    .refresh-btn-container {
        padding: 70px;

        .refresh-btn {
            background: #209eff;
            color: white;
            height: 50px;
            width: 130px;
            border-radius: 5px;
            border: none;
            font-size: 1.1em;
            letter-spacing: 0.8px;
            cursor: pointer;
        }
    }
}
