<div class="gallery-container"  fxLayout="column" fxFlexFill fxFlex="1 1 100">

    <!-- view change btns -->
    <div class="view-btn-container" fxLayout="row" fxLayoutAlign="end start" [fxFlex]="viewProportion.stateSection">
        <!-- vertical view btn -->
        <button (click)="changeViewState(ViewState.HORIZONTAL)" class="view-btn vertical"
            [ngClass]="{'selected': galleryViewState === ViewState.HORIZONTAL, 'unselected': galleryViewState === ViewState.VERTICAL}">
            <span class="material-icons-outlined">apps</span>
        </button>

        <!-- horizontal view btn -->
        <button (click)="changeViewState(ViewState.VERTICAL)" class="view-btn horizontal"
            [ngClass]="{'selected': galleryViewState === ViewState.VERTICAL, 'unselected': galleryViewState === ViewState.HORIZONTAL}">
            <span class="material-icons-outlined">more_vert</span>
        </button>
    </div>

    <!-- images -->
    <div class="images" [ngClass]="{'wrap-class': galleryViewState === ViewState.HORIZONTAL}" [fxLayout]="galleryViewState === ViewState.VERTICAL? 'column' : 'row'" fxLayoutAlign="space-between center" [fxFlex]="viewProportion.imagesSection">
        <div *ngFor="let img of displayedImages" [fxLayout]="galleryViewState === ViewState.VERTICAL? 'column' : 'row'" fxLayoutAlign="start center" class="image-container" fxFlex="1 1 16">
            <app-image fxFlex="1 1 100" [image]="img"></app-image>
        </div>
    </div>

    <!-- refresh btn -->
    <div class="refresh-btn-container" fxLayout="row" fxLayoutAlign="center start" [fxFlex]="viewProportion.refreshSection">
        <button (click)="refresh()" class="refresh-btn">Load more</button>
    </div>

</div>